<!DOCTYPE html>

<html>
	<head>
	<title>Decision System for Credit Underwriting</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.my-col{
			padding-left:20px;
			padding-bottom:20px;
			padding-top: 30px;
		}
		.proj-title{
			margin-left: -40px;
		}
		body {
    		background-color: #ededed;
		}
		header{
			margin-bottom: 17px;
		}
		.drop-format{
			margin-top: 30px;
			margin-left: 8px;
		}
		.my-row2{
			margin-top: 30px;
			margin-right:20px;
		}
		.submit-button{
			margin-top: 30px;
		}
		.my-info{
			margin-top: -45px;
			font-size: 30px;
			margin-right: -40px;
		}

	</style>	
	

	</head>
	
	<body>

	<header class="p-3 bg-dark text-white">
		<div class="container">
			<div class="d-flex proj-title">
			<span class="fs-3">Credit</span>
			<span class="fs-3 text-primary"> Underwriting</span>
			</div>
			<div class="my-info d-flex justify-content-end">
				<a target="_blank" class="text-white px-4" href="https://github.com/mandarvast19"><i class="fa fa-github"></i></a>
				<a target="_blank" class="text-white" href="https://www.linkedin.com/in/mandar-vast-68221a18a/"><i class="fa fa-linkedin-square"></i></a>
			</div>
		</div>
	</header>

	<div class="container">
	<form method="POST" action="{{ url_for('predict')}}">
	
		<div class="row justify-content-center position-relative my-row">
			<div class="col-md-3 credit_amount my-col">
			<label for="credit_amount" class="form-label"><b>Credit Amount</b></label>
			<input type="text" class="form-control" id="credit_amount" name="credit_amount" required>
			</div>
			<div class="col-md-3 income_amount my-col">
			<label for="income_amount" class="form-label"><b>Income Amount</b></label>
			<input type="text" class="form-control" id="income_amount" name="income_amount" required>
			</div>
			<div class="col-md-3 goods_price my-col">
			<label for="goods_price" class="form-label"><b>Goods Price</b></label>
			<input type="text" class="form-control" id="goods_price" name="goods_price" required>
			</div>
		</div>
		
		<div class="row d-flex justify-content-center">
			<div class="col-md-3 gender my-col">
			<label for="gender" class="form-label"><b>Gender</b></label>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="gender" value=0 required>
					<label class="form-check-label" for="gender">
					Male
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="gender" value=1 required>
					<label class="form-check-label" for="gender">
					Female
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="gender" value=2 required>
					<label class="form-check-label" for="gender">
					XNA
					</label>
				</div>
			</div>

			<div class="col-md-3 age my-col">
			<label for="age" class="form-label"><b>Age</b></label>
			<input type="text" class="form-control" id="age" name="age" required>
			</div>

			<div class="col-md-3 education_type">
			<div class="drop-format">
			<label for="education_type" class="form-label"><b>Education Type</b></label>
			<div class="dropdown education_type">
				<select class="form-select " aria-label="Default select example" name="education_type" id="education_type" required>
					<option selected>Select Education Type</option>
					<option value=0>Secondary / secondary special</option>
					<option value=1>Lower secondary</option>
					<option value=2>Incomplete higher</option>
					<option value=3>Higher education</option>
					<option value=4>Lower secondary</option>
				</select>
			</div>
			</div>
			</div>
		</div>
		

		<div class="row justify-content-center position-relative">
			<div class="col-md-3 property my-col">
			<label for="property" class="form-label"><b>Do you own a property</b></label>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault2" id="own_property" value=0 required>
				<label class="form-check-label" for="own_property">
				Yes
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault2" id="own_property" value=1 required>
				<label class="form-check-label" for="own_property">
				No
				</label>
			</div>
			</div>
			
			<div class="col-md-3 car my-col">
			<label for="car" class="form-label"><b>Do you own a car</b></label>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault3" id="own_car" value=0 required>
				<label class="form-check-label" for="own_car">
				Yes
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault3" id="own_car" value=1 required>
				<label class="form-check-label" for="own_car">
				No
				</label>
			</div>
			</div>
			<div class="col-md-3 ext_score my-col">
				<label for="ext_score" class="form-label"><b>External Score Average</b></label>
				<input type="text" class="form-control" id="ext_score" name="ext_score" required>
			</div>
		</div>
		
		
		<div class="row d-flex justify-content-center my-row2">
		<div class="col-md-3 occupation_type">
			<div class="drop-format2">
			<label for="occupation_type" class="form-label"><b>Occupation Type</b></label>
			<select class="form-select" aria-label="Default select example" name="occupation_type" id="occupation_type" required>
				<option selected>Select Occupation Type</option>
				<option value=0>Security staff</option>
				<option value=1>Other</option>
				<option value=2>Cooking staff</option>
				<option value=3>Medicine staff</option>
				<option value=4>Accountants</option>
				<option value=5>High skill tech staff</option>
				<option value=6>Drivers</option>
				<option value=7>Managers</option>
				<option value=8>Core staff</option>
				<option value=9>Sales staff</option>
				<option value=10>Laborers</option>
				
			</select>
			</div>
		</div>


		<div class="col-md-3 income_type">
			<div class="drop-format2">
			<label for="income_type" class="form-label"><b>Income Type</b></label>
			<select class="form-select" aria-label="Default select example" name="income_type" id="income_type" required>
				<option selected>Select Income Type</option>
				<option value=0>Working</option>
				<option value=1>Unemployed</option>
				<option value=2>Student</option>
				<option value=3>State servant</option>
				<option value=4>Pensioner</option>
				<option value=5>Maternity leave</option>
				<option value=6>Commercial associate</option>
			</select>
			</div>
		</div>
		
		</div>
		
		
		<div class="submit-button d-flex justify-content-center">
		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
		</div>
	</form>
	</div>
	<!-- AMT_CREDIT,AMT_INCOME_TOTAL,AMT_GOODS_PRICE,DAYS_BIRTH,NAME_EDUCATION_TYPE,CODE_GENDER
		,FLAG_OWN_REALTY,FLAG_OWN_CAR,ORGANIZATION_TYPE/OCCUPATION_TYPE,NAME_INCOME_TYPE,EXT_source-->
		
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	</body>
	


</html>